body{
    background-color: rgb(23, 23, 23);
    margin: none;
    padding: none;
    border: none;
}

.main{
    background:rgb(23, 23, 23);
    margin: none;
    padding: none;
    border: none;
}

.element_1{
    /* background-color: #000000; */
    margin: auto;
    justify-content: center;
    max-width: 725px;
}

.topnav {
    margin-top: 20px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #989797;
    text-align: center;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  margin-top: 25px;
  margin-bottom: 25px;
}


.container{
    justify-content: center;
    margin: auto;
    max-width: 725px;
}

.websiteName{
    color: white;
    font-size: 125px;
    font-weight: 700;
    margin-top: 0px;
    padding: 10px 0px 0px 0px;
    margin-bottom: 0px;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
}

.tagline{
    justify-content: center;
    text-align: left;
    padding: none;
    /* border: 1px solid black; */
    margin: 0px 0px 60px 0px;
    font-weight: 500;
    font-size: 20px;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
    color: #989797;
}

.title{
    text-align: left;
    /* font-weight: 500; */
    padding: 5px 0px 5px 2px;
    font-size: 25px;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
    color: white;
    width: auto;
}

hr{
    margin: 15px 0px 15px 0px;
    padding: none;
    border: none;
    height: 1px;
    background-color: #989797;
}

.date{
    float: right;
    /* font-weight: 300; */
    font-size: 18px;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
    color: #989797;
}


.copyright{
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
    color: #989797;
    padding-top: 50px;
    padding-bottom: 50px;
}